<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Travel</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="/css/linearicons.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/main.css">
    <style>
        #yearOfCreated{
            margin-left: 42px;
            margin-top: -24px;
        }
    </style>
    <script>


        // This is an old version, for a more recent version look at
        // https://jsfiddle.net/DRSDavidSoft/zb4ft1qq/2/
        function maxLengthCheck(object) {
            if (object.value.length > object.maxLength)
                object.value = object.value.slice(0, object.maxLength)
        }
        function minLengthCheck(object) {
            if (object.value.length < object.maxLength)
                object.value = object.value.slice(0, object.maxLength)
        }

        function lengthRange(inputtxt, minlength, maxlength)
        {
            var userInput = inputtxt.value;
            if(userInput.length >= minlength && userInput.length <= maxlength)
            {
                return true;
            }
            else
            {
                alert("Please enter 12 numbers of credit card");
                return false;
            }
        }

        function checkInput(elem){
            if(elem.value.length != 4){
                alert("This value needs to be 4 characters long!");
                elem.value = ""; // Reset the textbox
            }
            else{
                alert("This value is 4 characters long.");
            }
        }
    </script>
</head>
<body>

<header id="header">
    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 col-6 header-top-left">
                    <ul>
                        <li><a href="/home">Visit Us</a></li>
                        <li><a href="/flights">Buy Tickets</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="/home"><img src="/img/mkdAirlogo.png" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/flights">Flight</a></li>
                    <li><a href="/agencies" sec:authorize="hasRole('ROLE_ADMIN')">Agency</a></li>
                    <li><a href="/airplanes" sec:authorize="hasRole('ROLE_ADMIN')">Airplane</a></li>
                    <li><a href="/verification" sec:authorize="hasRole('ROLE_ADMIN')">Verification</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li  sec:authorize="isAuthenticated()">
                        <i class="fa fa-user"></i>
                        <a class="nav-link" href="#">
                            <th:block th:if="${#request.getRemoteUser() != null}"
                                      th:text="${#request.getRemoteUser()}"></th:block>
                        </a>
                    </li>
                    <li  sec:authorize="isAuthenticated()">
                        <a class="btn btn-success btn-sm ml-3" href="/ticket-cart">
                            <i class="fa fa-shopping-cart"></i> Cart
                        </a>
                    </li>
                    <li  sec:authorize="isAuthenticated()">
                        <a class="btn btn-danger btn-sm ml-3" href="/logout">
                            <i class="fa fa-sign-out"></i> Logout
                        </a>
                    </li>
                    <li  sec:authorize="!isAuthenticated()">
                        <a class="btn btn-primary btn-sm ml-3" href="/login">
                            <i class="fa fa-sign-in"></i> Login
                        </a>
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->

<section class="about-banner relative" id="banners">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Payment
                </h1>
            </div>
        </div>
    </div>
</section>

<div class="container mb-4">
    <h2>Details of Ticket</h2>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Departure Time</th>
                        <th scope="col">Arrival ime</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Agency</th>
                        <th scope="col">Plane</th>
                        <th scope="col">Price</th>
                        <th scope="col">Free seats</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${flight.getFromLocation()}"></td>
                        <td th:text="${flight.getToLocation()}"></td>
                        <td th:text="${flight.getDeparatureTime()}"></td>
                        <td th:text="${flight.getArrival_time()}"></td>
                        <td th:text="${flight.getDuration()}"></td>
                        <td th:text="${flight.getAgency().getNameOfAgency()}"></td>
                        <td th:text="${flight.getAirplane().getNameOfAirplane()}"></td>
                        <td th:text="${flight.getPrice()}"></td>
                        <td th:text="${flight.getTotal_seats()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h2>Personal details</h2>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Number of Passport</th>
                        <th scope="col">Number of Phone</th>
                        <th scope="col">Class Type</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${reservation.getName()}"></td>
                        <td th:text="${reservation.getSurname()}"></td>
                        <td th:text="${reservation.getNumberOfPassport()}"></td>
                        <td th:text="${reservation.getNumberOfPhone()}"></td>
                        <td th:text="${reservation.getClassesType().name()}"></td>
                        <td th:name="finalPrice" th:text="${price}"></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <form method="POST" th:action="@{'/payment'}">

        <div class="form-group">
            <label for="fullname">Fullname</label>
            <input type="text"
                   class="col-lg-4 col-md-6 form-control"
                   id="fullname"
                   name="fullname"
                   required
                   placeholder="Enter your fullname">
        </div>

        <div class="form-group">
            <label for="cardNumber">Credit card number</label>
            <input type="number"
                   class="col-lg-4 col-md-6 form-control"
                   id="cardNumber"
                   name="cardNumber"
                   onfocusout="lengthRange(this,12,12)"

                   required
                   placeholder="Enter your card number">
        </div>

        <div class="form-group">
            <label for="ccv2">CCV2</label>
            <input type="password"
                   class="col-lg-4 col-md-6 form-control"
                   id="ccv2"
                   name="ccv2"
                   maxlength="3"
                   oninput="maxLengthCheck(this) "
                   required
                   placeholder="Enter your CCV2">
        </div>

        <div class="form-group">
            <label>Validation of credit card</label>
            <select name="monthfValid" id="monthfValid" required>
                <option value="">Please choose an option</option>
                <option th:each="month : ${monthValid}" th:value="${month}" th:text="${month}" Selected></option>
            </select>

            <select name="yearOfValid" id="yearOfValid" required>
                <option value="">Please choose an option</option>
                <option th:each="year : ${yearValid}" th:value="${year}" th:text="${year}" Selected></option>
            </select>

        </div>

        <br/>
        <button id="submit-from-add-balloon" type="submit" class="btn btn-primary" onclick="stringlength(document.cardNumber,12,12)">Submit</button>
        <a type="button" class="btn btn-primary" href="/flights">Back</a>
    </form>

    <!-- Footer -->
    <footer class="text-black-50 mt-xl-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-4 col-xl-3">
                    <h5>About</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <p class="mb-0">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
                        impression.
                    </p>
                </div>


                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                    <h5>Informations</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><a href="">Link 1</a></li>
                        <li><a href="">Link 2</a></li>
                        <li><a href="">Link 3</a></li>
                        <li><a href="">Link 4</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                    <h5>Others links</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><a href="">Link 1</a></li>
                        <li><a href="">Link 2</a></li>
                        <li><a href="">Link 3</a></li>
                        <li><a href="">Link 4</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3">
                    <h5>Contact</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-home mr-2"></i> My company</li>
                        <li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
                        <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
                        <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>


</div>
</body>
</html>