

<section class="about-banner relative" id="banners">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Verification
                </h1>
            </div>
        </div>
    </div>
</section>

<br/><br/><br/>

<div class="container mb-4" xmlns:th="http://www.thymeleaf.org">
    <h1>Verification client ticket</h1>
<form th:action="@{'/verification/search'}">
<div class="input-group">
    <div >
        <input type="search" id="idOrder" name="idOrder"  class="form-control rounded" placeholder="Search" aria-label="Search"
               aria-describedby="search-addon"/>

    </div>
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-search">Search</i>
    </button>
</div>
</form>
</div>

<br/><br/><br/>
